.table { 
    border: 1px  solid #888800;
    background-color: #FFFFFF;
    width:100%
}
.table_bg1 {
    border: 1px solid #000000;
    background-color: #C0C0C0
}
.table_bg2 {
    border: 0 solid #880000;
    background-color: white;
}
.table_bg3 {
    border: 1px solid #888800;
    background-color: #191919;
}

.caption {border: 1px solid #888800;
          background-color: #BBBBFF;
          font-size: 12pt;
          font-family:Trebuchet MS;
          color: #000000;
          font-weight: bold;
}

.cell_title {
    border: 0 solid #888800;
    background-color: #BBBBFF;
    font-size: 10pt;
    font-family:Trebuchet MS;
    color: #000000;
    font-style: normal;
    font-weight: bold;
}
.cell_title_r {
    border: 0 solid #888800 ;
    background-color: #BBBBFF;
    color: #000000;
    font-style: normal;
    font-weight: bold ;
    text-align: right;
}


.cell { 
    background-color: #EEFFFF;
    padding-left: 2pt;
    padding-right: 2pt; 
}
.cell_bg1 { 
    background-color: #BBBBFF ;
    padding-left: 5pt;
    padding-right: 5pt; 
}
.cell_bg2 { 
    background-color: white;
}
.cell_r { 
    background-color: #EEFFFF;
    text-align: right; 
}
.cell_fix { 
    background-color: #EEFFFF;
    font-family: Courier 
}
.cell_warning {
    background-color: #FFDDDD; 
}
.cell_print { 
    background-color: white;
    font-size: 7pt ;
    padding-left: 5pt;
    padding-right: 5pt
}

.icon {
    height: 19px ;
    border: 0 ;
}

.title_page{ 
    text-indent: 0;
    background-color: #FFFFFF;
    font-size: 18pt;
    font-family: Trebuchet MS;
    line-height: 100%;
    text-align: center ;
    color: #000000;
    font-style: normal;
    font-weight: bold;
}
.title2 { 
    text-indent: 0;
    background-color: #FFFFFF;
    font-size: 14pt;
    font-family: Trebuchet MS;
    line-height: 100%;
    text-align: left;
    color: #000000;
    font-style: normal;
    font-weight: bold;
}
.title3 {
    text-indent: 30px;
    background-color: #FFFFFF;
    font-size: 13pt;
    font-family: Trebuchet MS;
    line-height: 100%;
    text-align: left;
    color: #000000;
    font-style: italic;
}

.p {
    text-indent: 0;
    background-color: #FFFFFF;
    font-size: 10pt;
    font-family: Trebuchet MS;
    line-height: 100%;
    text-align: justify ;
    color: #000000 ;
}
.p_small    { 
    text-align: justify;
    line-height: 100%;
    text-indent: 0;
    font-size: 9pt;
    font-family: Trebuchet MS;
    color: #000000;
    margin-top: 3px;
    margin-bottom: 0 
}

.zzz_closeit {
    background-image : url(/lazy/icon/contact.gif);
}

.closeit {
    background-color: #AA0000;
    color:white;
}

textarea { 	
    font-family: Courier, Monaco; 
}


