<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>
    <servlet>
        <servlet-name>
            ns
        </servlet-name>
        <servlet-class>
            ns
        </servlet-class>
<!--
        <init-param>
            <param-name>foo</param-name>
            <param-value>bar</param-value>
        </init-param>
-->
    </servlet>


    <servlet-mapping>
        <servlet-name>
            ns
        </servlet-name>
        <url-pattern>
            /ns
        </url-pattern>
    </servlet-mapping>
 

</web-app>
